html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.page-container {
  width: 960px;
  margin: 0 auto;
}

.page-navbar {
  background-color: #4e4e4e;
  height: 50px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.company-name {
  color: #ffffff;
  margin-left: 50px;
}

.link-container {
  margin-right: 50px;
  list-style-type: none;
  display: flex;
  gap: 45px;
}

.nav-link {
  color: #f1f1f1;
  text-decoration: none;
}

.nav-contact {
  cursor: not-allowed;
  opacity: 0.5;
}

.landing-page {
  height: 100vh;
  background-image: url(background-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
}

.landing-page-shadow {
  background: rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 100%;
}

.main-slogan {
  width: 60%;
  margin-top: 25%;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 36px;
  font-weight: 700;
}

.second-slogan {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 60px;
  font-size: 18px;
  font-weight: 700;
}

.button-offer {
  width: auto;
  height: 40px;
  margin-left: 50px;
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #ffffff;
  background-color: rgba(196, 196, 196, 0);
  transition: background-color 1s linear color 1s linear;
}

.button-offer a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px 40px;
}

.button-offer:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.button-offer a:hover {
  color: black;
}

.about {
  padding: 10px;
  background-color: rgba(241, 241, 241, 1);
  color: rgba(21, 45, 65, 1);
}

.about-title {
  margin-left: 50px;
  margin-top: 60px;
  font-size: 35px;
  font-weight: 700;
}

.employees-container {
  margin: 60px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.employee {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.employees-container .employee:nth-of-type(even) {
  .employee-info {
    order: -1;
    text-align: right;
  }
}

.employee-image {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.employee-image1 {
  background-image: url(employee1_photo.jpg);
}

.employee-image2 {
  background-image: url(employee2_photo.jpeg);
}

.employee-info {
  width: 70%;
  font-size: 18px;
}

.name {
  font-weight: 700;
  margin-bottom: 20px;
}

.info {
  font-weight: 400;
}

.offer {
  background-color: rgba(64, 93, 120, 1);
  height: 600px;
  display: flex;
  flex-direction: column;
}

.offer-shadow {
  background: rgba(0, 0, 0, 0.15);
  height: 100%;
  padding: 10px;
}

.offer-title {
  color: rgba(255, 255, 255, 1);
  margin-left: 50px;
  margin-top: 60px;
  font-size: 35px;
  font-weight: 700;
}

.offer-container {
  width: 60%;
  height: 60%;
  margin: 60px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.box {
  width: 170px;
  height: 170px;
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.box:hover {
  transform: scale(1.05);
}

.offer-box1 {
  flex-direction: column;
  position: relative;
}

.box1-eclise {
  width: 22px;
  height: 22px;
  background-color: rgba(224, 122, 100, 1);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.offer1-text1,
.offer-box {
  font-size: 24px;
  font-weight: 400;
}

.offer1-text2 {
  font-size: 18px;
  font-weight: 400;
}

.page-footer {
  background-color: rgba(78, 78, 78, 1);
  height: 70px;
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer-text {
  margin-left: 50px;
}

.insta-fb-container {
  margin-right: 50px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
